header {
    .sign-in-bar {
        background-color: $header-color;
        height: 45px;
    }
    .sign-in-list {
        list-style-type: none;
        padding: 0.9em 0;
        font-weight: bold;
        li {
            float: right;
            flex-direction: row;
            margin-right: 0.5em;
            font-size: 13px;
            font-family: "Montserrat";
            color: $top-bar-text;
        }
        .language-select {
            margin-left: 1em;
            float: left;
            display: flex;
            select {
                margin: -0.15em 0;
                flex-direction: column;
                list-style-type: none;
                background-color: $header-color;
                border: none;
                color: $top-bar-text;
                font-weight: bold;
                option {
                    font-weight: bold;
                }
            }
            @media only screen and (min-width: 900px) {
                margin: 0 0 0 8em;
            }
        }
        .baket-btn {
            display: none;
            @media only screen and (min-width: 900px) {
                margin-right: 2.7em;
                background: $aqua;
                color: $white;
                margin: -1.05em 8em 0 0;
                display: flex;
                flex-direction: row;
            }
            .baket {
                margin: 1.2em 0 1em 1.6em;
            }
            p {
                padding: 1em;
                font-weight: 300;
            }
            .baket-arrow {
                margin: 1.2em 1.6em 1em 0;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .sign-in-btn {
            margin-right: 1em;
            @media only screen and (min-width: 1025px) {
                margin-right: 6.2em;
            }
        }
        .register-btn {
            margin-right: 0.5em;
            @media only screen and (min-width: 450px) {
                margin-right: 2.6em;
            }
        }
    }
    nav {
        .logo {
            font-size: 20px;
            color: $logo-color;
            font-weight: 900;
            margin-left: 1em;
            p {
                display: inline-block;
                font-size: 20px;
                margin: 0.8em 0 0 0;
                font-weight: 400;
            }
        }
        .hamburger-menu {
            float: right;
            margin: 0.5em 1em 0 0;
            @media (min-width: 900px) {
                display: none;
            }
        }
        .bar {
            width: 35px;
            height: 4px;
            background-color: $logo-color;
            display: block;
            margin: 7px auto;
            transition: all 0.3s ease-in-out;
        }
        .hamburger:hover {
            cursor: pointer;
        }
    }
}