header {
    position: relative;
    z-index: 100;
    .sign-in-bar {
        background-color: $header-color;
        height: 45px;
    }
    .sign-in-list {
        list-style-type: none;
        padding: 0.9em 0;
        font-weight: bold;
        li {
            float: right;
            flex-direction: row;
            margin-right: 0.5em;
            font-size: 13px;
            font-family: "Montserrat";
            color: $top-bar-text;
        }
        .language-select {
            margin-left: 1em;
            float: left;
            display: flex;
            select {
                margin: -0.15em 0;
                flex-direction: column;
                list-style-type: none;
                background-color: $header-color;
                border: none;
                color: $top-bar-text;
                font-weight: bold;
                option {
                    font-weight: bold;
                }
            }
            @media only screen and (min-width: 900px) {
                margin: 0 0 0 8em;
            }
        }
        .baket-btn {
            display: none;
            @media only screen and (min-width: 900px) {
                margin-right: 2.7em;
                background: $aqua;
                color: $white;
                margin: -1.05em 8em 0 0;
                display: flex;
                flex-direction: row;
            }
            .baket {
                margin: 1.2em 0 1em 1.6em;
            }
            p {
                padding: 1em;
                font-weight: 300;
            }
            .baket-arrow {
                margin: 1.2em 1.6em 1em 0;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .sign-in-btn {
            margin-right: 1em;
            @media only screen and (min-width: 1025px) {
                margin-right: 6.2em;
            }
        }
        .register-btn {
            margin-right: 0.5em;
            @media only screen and (min-width: 450px) {
                margin-right: 2.6em;
            }
        }
    }
    nav {
        .logo {
            font-size: 20px;
            color: $logo-color;
            font-weight: 900;
            margin: -1.55em -13em 0px 0;
            p {
                display: inline-block;
                font-size: 20px;
                margin: 0.8em 0 0 0;
                font-weight: 400;
            }
        }
        .menu {
            display: none;
            @media only screen and (min-width: 900px) {
                list-style-type: none;
                display: flex;
                justify-content: flex-end;
                margin: -1.55em 0 0 0;
            }
            @media only screen and (min-width: 1500px) {
                margin: -1.55em -11em 0 0;
            }
            li {
                margin-right: 2em;
                font-weight: bold;
                color: $logo-color;
                position: relative;
                @media only screen and (min-width: 1200px) {
                    margin-right: 4em;
                }
                &:hover {
                    cursor: pointer;
                    transition: 0.5s;
                    color: $aqua;
                    i {
                        color: $aqua;
                        transition: 0.5s;
                    }
                    .submenu {
                        display: flex;
                    }
                }
                input {
                    display: none;
                    @media only screen and (min-width: 900px) {
                        display: inline-block;
                        border: 1px solid #e7e7e7;
                        background-color: #f8f8f8;
                        height: 25px;
                        margin-top: -0.5em;
                    }
                }
                i {
                    display: flex;
                    color: $text-color;
                }
            }
            .search-input {
                display: none;
                @media only screen and (min-width: 1200px) {
                    display: inline-block;
                }
            } /// submenu
            .submenu {
                display: none; // display: flex;
                position: relative;
                z-index: 9;
                top: 55px;
                max-width: 450px;
                position: absolute;
                width: 450px;
                padding: 0 0 20px;
                background: $grey;
                flex-direction: column;
                align-items: center;
                -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.15);
                -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.15);
                box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.15);
                .submenu-list {
                    display: flex;
                    list-style-type: none;
                    li {
                        margin: 2em 4em 2em 0;
                        color: $main-text-color;
                        font-weight: 900;
                        ul {
                            margin: 1em 0;
                            list-style-type: none;
                            li {
                                margin: 0 0 0.5em 0;
                                font-weight: 600;
                                &:hover {
                                    color: $aqua;
                                }
                            }
                        }
                    }
                }
                .submenu-banner {
                    height: 180px;
                    width: 400px;
                    margin-bottom: 0.5em;
                    background: $logo-color;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    p {
                        color: $white;
                        font-size: 34px;
                        font-weight: 900;
                    }
                    :last-child {
                        font-weight: 500;
                    }
                }
            }
        }
        .hamburger-menu {
            float: right;
            margin: 0.5em 1em 0 0;
            @media only screen and (min-width: 900px) {
                display: none;
            }
        }
        .bar {
            width: 35px;
            height: 4px;
            background-color: $logo-color;
            display: block;
            margin: 7px auto;
            @include transition(all 0.3s ease-in-out);
        }
        .hamburger:hover {
            cursor: pointer;
        }
    }
}