.lookbook {
    overflow: auto;
    margin-top: 2em;
    @media only screen and (min-width: 900px) {
        margin-top: 6em;
    }
    .lbk-list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 5em;
        .lbk-content {
            width: auto;
            background: $grey;
            overflow: auto;
            margin: 1em;
            height: 350px;
            @include transition(all 0.5s ease);
            @media only screen and (min-width: 450px) {
                height: 450px;
            }
            @media only screen and (min-width: 900px) {
                margin: 0.5em;
                width: 510px;
            }
            @media only screen and (min-width: 1290px) {
                width: 30%;
            }
            @media only screen and (min-width: 1590px) {
                width: 32%;
            }
            .image-position {
                position: relative;
                height: 350px;
                @media only screen and (min-width: 450px) {
                    height: 450px;
                }
            }
            .lbk-image {
                position: absolute;
                z-index: 999;
                bottom: 0;
                left: 0;
                height: 300px;
                width: 190px;
                @media only screen and (min-width: 450px) {
                    height: 390px;
                    width: 220px;
                }
                @media only screen and (min-width: 1590px) {
                    left: 20px;
                }
            }
            .lbk-image-1 {
                background: url("../images/home/lookbook/lookbook-1.png") no-repeat center;
                background-size: contain;
            }
            .lbk-image-2 {
                background: url("../images/home/lookbook/lookbook-2.png") no-repeat center;
                background-size: contain;
            }
            .lbk-image-3 {
                background: url("../images/home/lookbook/lookbook-3.png") no-repeat center;
                background-size: contain;
            }
            .lbk-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                @include transition(all 0.5s ease);
                @media only screen and (min-width: 1590px) {
                    align-items: flex-end;
                    padding: 2em;
                }
                h2 {
                    color: $main-text-color;
                    font-weight: 900;
                    font-size: 28px;
                    margin-top: 1em;
                    @media only screen and (min-width: 450px) {
                        margin-top: 4em;
                        font-size: 30px;
                    }
                    @media only screen and (min-width: 1590px) {
                        font-size: 48px;
                        margin-top: 1em;
                    }
                }
                h3 {
                    color: $main-text-color;
                    font-size: 22px;
                    font-weight: 500;
                    @media only screen and (min-width: 450px) {
                        font-size: 24px;
                    }
                    @media only screen and (min-width: 1590px) {
                        font-size: 48px;
                    }
                }
                p {
                    font-size: 13px;
                    font-family: "Roboto", 'sans-serif';
                    color: $top-bar-text;
                    text-align: justify;
                    margin-top: 1em;
                    padding: 1em;
                    @media only screen and (min-width: 1590px) {
                        font-size: 15px;
                        text-align: right;
                        padding: 0;
                    }
                }
                .lbk-btn {
                    width: 130px;
                    height: 50px;
                    margin-top: 2em;
                    @media only screen and (min-width: 450px) {
                        width: 166px;
                    }
                    @media only screen and (min-width: 1590px) {
                        width: 185px;
                        height: 60px;
                    }
                }
            }
        }
    }
}