.more-info {
    background: $grey;
    margin-top: 2em;
    overflow: auto;
    .shop-info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        list-style-type: none;
        flex-direction: column;
        padding-top: 3em;
        @media only screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        li {
            font-size: 15px;
            color: $main-text-color;
            list-style-type: none;
            font-weight: 600;
            margin-right: 2em;
            ul {
                margin-top: 2.5em;
                li {
                    font-weight: 400;
                    font-size: 14px;
                    color: $top-bar-text;
                    margin-bottom: 0.8em;
                    &:hover {
                        cursor: pointer;
                        color: $aqua;
                    }
                }
            }
        }
        .contact-details {
            li:hover {
                color: $top-bar-text;
                cursor: auto;
            }
        }
    }
    .social-media {
        list-style-type: none;
        margin: 3em 0;
        text-align: center;
        @media only screen and (min-width: 768px) {
            display: inline-block;
        }
        .banners {
            height: 200px;
            margin: 0.5em 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .award-banner {
            background: $header-color;
            float: left;
            @media only screen and (min-width: 768px) {
                margin: 0 0 0 -2em;
            }
            :first-child {
                font-weight: 900;
            }
            :last-child {
                font-weight: 400;
            }
            p {
                color: $white;
                font-size: 26px;
                letter-spacing: 2px;
                @media only screen and (min-width: 1024px) {
                    font-size: 36px;
                }
            }
        }
        .social-banner {
            background: $aqua;
            float: right;
            flex-direction: row;
            align-items: center;
            @media only screen and (min-width: 768px) {
                margin: 0;
            }
            i {
                color: $white;
                margin-right: 0.5em;
            }
        }
    }
}