.most__popular__clothes {
    .cloth__choice {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        border-top: 1px solid #eeeeee;
        padding: 3.8em 0;
        @media only screen and (min-width: 900px) {
            flex-direction: row;
        }
        li {
            color: $top-bar-text;
            font-size: 13px;
            font-weight: bold;
            margin-right: 4em;
            text-align: center;
            margin-right: 0;
            padding: 1em;
            @media only screen and (min-width: 900px) {
                margin-right: 2em;
                text-align: left;
            }
        }
        li:hover {
            @include transition(all 0.3s ease);
            color: $aqua;
            cursor: pointer;
        }
    }
    .cloths {
        border-bottom: 2px solid $grey;
        padding-bottom: 3em;
        @media only screen and (min-width: 1200px) {
            padding-bottom: 5.8em;
        }
        .cloth__placing {
            @include transition(all 0.5s ease);
            margin: 0.5em 1em;
            background: $grey;
            height: 375px;
            @media only screen and (min-width: 900px) {
                margin: 0.8em;
            }
            @media only screen and (min-width: 1200px) {
                height: 420px;
            }
            .cloth__active__hover {
                @media only screen and (min-width: 1200px) {
                    top:395px;
                }
            }
            &:hover {
                position: relative;
                z-index: 999;
                @include transition(all 0.8s ease);
                color: $white;
                .cloth__active__hover {
                    top: 375px;
                }
                @media only screen and (min-width: 1200px) {
                    .cloth__active__hover {
                        top: 420px;
                    }
                }
            }
        }
        .cloth__placing__small {
            @include transition(all 0.5s ease);
            margin: 0.5em 1em;
            background: $grey;
            height: 375px;
            @media only screen and (min-width: 900px) {
                margin: 0.8em;
            }
            @media only screen and (min-width: 1200px) {
                height: 325px;
            }
            &:hover {
                position: relative;
                z-index: 999;
                @include transition(all 0.8s ease);
                color: $white;
                .cloth__active__hover {
                    top: 375px;
                }
                @media only screen and (min-width: 1200px) {
                    .cloth__active__hover {
                        top: 325px;
                    }
                }
            }
        }
        .clothes__price {
            position: absolute;
            font-size: 14px;
            font-weight: 500;
            color: $text-color;
            margin: 0.3em;
            sup {
                font-size: 12px;
            }
        }
        .item__4__position {
            @media only screen and (min-width: 1200px) {
                margin: -6em 0.8em;
            }
        }
        .cloth__position {
            height: 100%;
            width: 100%;
            max-width: 100%;
        }
        .cloth__1 {
            background: url("../images/home/items/item-1.jpg") no-repeat center;
            background-size: contain;
        }
        .cloth__2 {
            background: url("../images/home/items/item-2.jpg") no-repeat center;
            background-size: contain;
        }
        .cloth__3 {
            background: url("../images/home/items/item-3.jpg") no-repeat center;
            background-size: contain;
        }
        .cloth__4 {
            background: url("../images/home/items/item-4.jpg") no-repeat center;
            background-size: contain;
        }
        .cloth__5 {
            background: url("../images/home/items/item-5.png") no-repeat center;
            background-size: contain;
        }
        .cloth__6 {
            background: url("../images/home/items/item-6.jpg") no-repeat center;
            background-size: contain;
            margin-bottom: 5.8em;
        }
    }
}

/// hover animation  
.cloth__hover__shadow {
    -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.15);
}

.cloth__active__hover {
    color: #fff;
    position: absolute;
    top: 350px;
    width: 100%;
    left: 0;
    padding: 20px 0;
    background-color: $white;
    border-top: 1px solid $grey;
    @include transition(all 0.3s ease);
    z-index: -1;
    @media only screen and (min-width: 1200px) {
        top:300px;
    }
    .info__header {
        color: $main-text-color;
        text-align: center;
        font-weight: 900;
        font-size: 13px;
        margin: 1em;
    }
    .info__desc {
        color: $text-color;
        text-align: center;
        font-weight: 500;
        font-size: 13px;
        margin: 1em;
    }
    .info__cloth {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
        .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.3em;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background: $top-bar-text;
            i {
                color: $white;
            }
            &:hover {
                @include transition(all 0.3s ease);
                background: $aqua;
                cursor: pointer;
            }
        }
    }
}